@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

:root {
    /* Light mode variables */
    --bg-color: #5DAED1;

    /* Dark mode variables */
    --bg-color-dark: #2C1F52;
}

.light {
    background-color: var(--bg-color);
}

.dark {
    background-color: var(--bg-color-dark);
}

body {  
    background-color: var(--bg-color-dark);
    font-family: 'Manrope',
    sans-serif;
    color: #fff;
}

.portable-text p {
    margin: 35px 0;
}

.portable-text ul li {
    margin: 15px 0;
}


